/* 
0. element selector (any html tag)
1. descendant selector (space)
2. child selector (>)
3. adjacent sibling selector(+)
4. general sibling selector(~)
5. A pseudo class is used define a special state of an element
5.1 Style an element when a user hover over it.
5.2 Style an element when it has focus
5.3 Style a link states
5.4 Style the element based relationship
5.4.1 the :first-child pseudo class
5.4.2 the :last-child pseudo class
6.0.0 Attribute selector 
6.0.1 - Class Attribute (.)
6.0.2 - ID Attribute (#)

*/
body {
	color: grey;
}
